* {
  direction: rtl;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --headerC: #07195b;
  --blue: #2f7bea;
  --red: #d40038;
  --orange: #ff8800;
}
label,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headerC);
  font-family: 'Heebo', Serif;
}

input {
  border: 1px solid var(--red);
  border-radius: 5px;
}
