.addItemDivMain {
  display: flex;
  flex-direction: column;
}
.addItemDivOptions {
  display: flex;
}

.addItemDivMain > .items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* .addItemDivMain > .items > div {
  background-color: var(--blue);
} */
