.CardItem {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 0.5rem auto;
  position: relative;

  animation: display 1.5s linear 0s 1 normal forwards;
}
@keyframes display {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.CardItem img {
  margin: 1px auto;
  width: 100px;
  height: 100px;
  size: 100% 100%;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.389);
}

.CardItem button {
  height: max-content;
  width: max-content;
  margin: auto 2px;
  background-color: transparent;
  border: unset;
}
.CardItem div {
  display: flex;
  flex-direction: column;
}

.CardItem h2 {
  margin-top: 10px;
  text-align: center;
}
.EditInfoItem {
  flex-direction: column !important;
}
.EditInfoItem h5 {
  margin: 0;
}
.fa-trash-alt {
  position: absolute;
  top: 0;
  right: 0;
}
