/* .loginPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */
@media screen and (max-width: 768px) {
  .loginPage {
    /* height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: relative;
    margin: 8% auto;
    min-height: 60%;
    width: 85%;

    background: white;
    padding: 0px 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 8px;

    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }
}
