.userCard img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.userCard {
  display: flex;
}
.userCard > div {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.userCard a + h3 {
  color: lightgray;
}
.userCard h3 {
  margin-top: 10px;
}
.userCard span {
  margin-right: 80%;
}
