.field {
  margin: 0 1rem;
  width: 90%;
  padding: 5px 1rem;
}
.field label {
  display: block;
  font-size: 18px;
  padding: 5px;
}
.field input {
  display: block;
  margin: 0px 0px 15px 20px;
  padding: 4px;
  width: 100%;
  height: 5%;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--orange);
  font-size: 14px;
}
.field > div {
  position: relative;
}
.field > div > span {
  position: absolute;
  top: 4px;
  left: 25px;
  color: rgb(131, 131, 131);
  font-size: 22px;
}
