.footer {
  width: 100%;
  height: max-content;

  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
}
.footer img {
  width: 60px;
  height: 60px;
  size: 100%;
  margin: auto;
  margin-bottom: 25px;
}
