.blue {
  color: blue;
}
.ItemsDiv h2 {
  text-align: center;
}
.saveButton {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  left: 50px;
  bottom: 50px;
  background-color: transparent;
  color: blue;
  border: unset;
}
.tabHeader {
  width: 150px;
  margin-top: 2rem;
  padding: 5px 1px;
  font-size: 25px;
  background-color: var(--red);

  color: white;
  height: max-content;

  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
}
.ItemsDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
