.blue {
  color: blue;
}
.ItemsDiv h2 {
  text-align: center;
}
.saveButton {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  left: 50px;
  bottom: 50px;
  background-color: transparent;
  color: blue;
  border: unset;
}
