.blue {
  color: blue;
}
.ItemsDiv h2 {
  text-align: center;
}
.saveButton {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  position: fixed;
  left: 50px;
  bottom: 50px;
  background-color: transparent;
  color: white;
  background-color: var(--red);
  border: unset;
  z-index: 1;
}
.tabHeader {
  width: 200px;
  margin-top: 2rem;
  padding: 5px 1px 9px 1px;
  font-size: 25px;
  background-color: var(--red);
  color: white;
  height: max-content;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.ItemsDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
