.radioButtonsDiv > div {
  display: flex;
}
.radioButtonsDiv {
  margin-bottom: 15px;
}
.radioButtonsDiv h4 {
  padding-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
.radioButtonsDiv > div > div {
  margin: 1px 5px;
}
/* .radioButtonsDiv > div > div > input {
  margin: auto;
  display: block;
} */
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 100px;
    width: 100px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1;
}
.option-input:hover {
  background: var(--orange);
}
.option-input:checked {
  background: var(--orange);
  z-index: 1;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  z-index: 1;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: var(--orange);
  content: '';
  display: block;
  position: relative;
  z-index: 1;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
