.SearchMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
}
.SearchOptions {
  margin: 1rem 0;
  display: flex;
}
.slider {
  width: 70%;
  margin-bottom: 20px;
  touch-action: none;
}
