.ForgetPasswordDiv span {
  display: flex;
  margin: 5px auto;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: var(--red);
}
div > .ForgetPasswordDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ForgetPasswordDiv i {
  color: var(--red);

  margin-right: auto;
  padding-right: 20px;
  font-size: 26px;
}
