li {
  list-style: none;
}

a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.red {
  color: red;
}

@media only screen and (max-width: 500px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu a {
    display: block;
  }
  .nav-menu.active {
    right: 0;
    width: 70%;
    z-index: 4;
  }
  .background.active {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.322);
    z-index: 3;
    backdrop-filter: blur(1px);
  }

  .navbar {
    width: max-content;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-item {
    padding: 2.5rem 0;
    width: 100%;
    transition: background-color 0.5s linear 0s;
    margin-left: 0;
  }

  .nav-link {
    transition: color 0.5s linear 0s;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .nav-link:hover {
    color: white;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
  }
  .header {
    border: none;
  }
}
